# Dependencias
node_modules
npm-debug.log*

# Build de Next.js
.next
out

# Variables de entorno
.env*.local
.env

# Git
.git
.gitignore

# Vercel
.vercel

# Testing
coverage

# Misc
.DS_Store
*.pem

# Debug
*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea
*.swp
*.swo
*~
